h1, h3, p, li{font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;text-align:center;}
h1{font-size:48px;background-color: whitesmoke;}
h3{font-size:24px;}
#recipes{text-align: center;}
.recipe{font-family: Verdana, Geneva, Tahoma, sans-serif;background-color:thistle;color: black;font-size: 28px;text-decoration: none;}
#image{text-align: center;}
img{width:350px;height:auto;}
p, li{font-size: 18px;}
ul, ol{text-align: center;list-style-position:inside;}